



      <!-- <div class="col-2 text-center" [ngClass]="estudiante.calificacion - 3 <= 2 ? 'desaprobado' : 'aprobado' ">
        <span >
           <b>{{estudiante.calificacion}} </b> 
          </span>
      </div>
<p>hola</p> -->

<h2 class="text-center">Hermandades</h2>

      <section class="container">
        <h3>OOZMA KAPPA</h3>
      <table class="table table-hover"> 
        <tbody>
        <tr class="table-success" *ngFor="let estudiante of ESTUDIANTE">
          <th scope="row" ><img src="{{estudiante.img}}" alt=""></th>
          <td >{{estudiante.nombre}} </td>
          <td >{{estudiante.apellido}}</td>
        </tr>
        </tbody>
      </table>
    </section>

    <br><br><br><br>
     