

<!-- estudiante 1 -->
<div class="container">
    <div class="row">
      <div class="col">
        Pedro   
      </div>
      <div class="col">
       Rodríguez
      </div>
      <div class="col">
         7
      </div>
    </div>
  </div>

  <!-- estudiante 2 -->

  <div class="container">
    <div class="row">
      <div class="col">
        Agustina
      </div>
      <div class="col">
        Sanchez
      </div>
      <div class="col">
         6
      </div>
    </div>
  </div>
  <!-- estudiante 3 -->
  <div class="container">
    <div class="row">
      <div class="col">
        Lautaro
      </div>
      <div class="col">
        Duhalde
      </div>
      <div class="col">
         9
      </div>
    </div>
  </div>
  <!-- estudiante 4 -->
  <div class="container">
    <div class="row">
      <div class="col">
       Emilia
      </div>
      <div class="col">
        Figueredo
      </div>
      <div class="col">
        10
      </div>
    </div>
  </div>
  <!-- estudiante 5 -->

  <div class="container">
    <div class="row">
      <div class="col">
       Luis
      </div>
      <div class="col">
        Junior
      </div>
      <div class="col">
         5
      </div>
    </div>
  </div>
