<br>
<br>
<section class="container">
    
    <div class="row">
        <mat-form-field class="col-md-6">
            <mat-label>Filtrar por nombre del curso</mat-label>
            <input type="text" matInput [(ngModel)]="filtro">
        </mat-form-field>
    </div>

    <div class="row">
        <div class="col-md-3" *ngFor="let cursos of inscripcion | buscarcurso: filtro"> 
    <mat-card>
        <mat-card-title>{{cursos.nombre}}</mat-card-title>
        <mat-card-subtitle>{{cursos.contenido}}</mat-card-subtitle>
        <img mat-card-image src="{{cursos.img}}" alt="">
        <mat-card-content>Fecha: {{cursos.fecha | date : 'dd/MM/YYYY'}}</mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Inscribirse</button>
            <button mat-button>Compartir</button>
        </mat-card-actions>
    </mat-card>
    </div>
</div>
    

</section>
