#fondo {
    margin-top: 15px;
    margin-bottom: 50px;
}

#fondo:hover {
    opacity: 1;
}

img {
    width: 100%;
}

img:hover {
    opacity: 0.76;
}

.card {
   background-color: rgb(138, 201, 255);
}
.mat-button {
    margin-left: 14rem;
    color: rgb(14, 86, 255);
}


@media (max-width: 700px) { 
    #fondo {
        margin-top: 3.5rem;
        margin-bottom: 50px;
    }
   .card {
    width: 100%;
   }
}