<img src="./assets/fondo.png" alt="" width="100%" id="fondo">
<br>
<section class="container">
    <mat-grid-list cols="4" rowHeight="220px">
        <!-- primer bloque -->
      <mat-grid-tile [colspan]="1" rowspan="1">
        <mat-card> 
            <img src="./assets/mustore.jpg" alt="" width="100" id="store"> 
        </mat-card>
        
    </mat-grid-tile>
      <mat-grid-tile [colspan]="1" rowspan="2"> 
        <mat-card> 
            <img src="./assets/futbolamericano.jpg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ipsum quibusdam ea accusamus ipsa, vitae eum, atque temporibus dolore velit quae molestias, blanditiis dolorem adipisci molestiae quas? Doloribus, maxime aspernatur!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo facilis repellendus voluptate, quo debitis nobis voluptas suscipit ab rem aliquid minus. Eos quod deserunt nemo voluptate repudiandae doloribus in sed.
            </p>
            </mat-card>

    </mat-grid-tile>
      <mat-grid-tile [colspan]="1" rowspan="2" [style.background]="">
        <mat-card> 
            <img src="./assets/gorra.jpg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate error, nulla eligendi cumque veritatis, nam aperiam odio, velit a aut laborum iure. Ipsa adipisci facere beatae unde tempora nulla maiores!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis laudantium animi blanditiis illo cum perferendis cupiditate, quisquam possimus aperiam quod doloribus repudiandae molestiae numqu
            </p>
        </mat-card>
       
    </mat-grid-tile>
      <mat-grid-tile [colspan]="1" rowspan="1" [style.background]="'lightblue'"> mu events</mat-grid-tile>


        <mat-grid-tile [colspan]="1" rowspan="1">
            
            <mat-card>
                <img src="./assets/history.jpg" alt="">
                <h3>mu history</h3>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" rowspan="1" [style.background]="'lightblue'"> mu events</mat-grid-tile>
</mat-grid-list>

        <!-- segundo bloque -->
    <mat-grid-list cols="4" rowHeight="180px"> 
    
     <mat-grid-tile [colspan]="1" rowspan="1" [style.background]="'lightblue'" id="segundo"> 
        <mat-card>
            <img src="./assets/school.jpg" alt="">
        </mat-card>
    </mat-grid-tile>
     <mat-grid-tile [colspan]="1" rowspan="1" [style.background]="'lightblue'"> go mu </mat-grid-tile>
      <mat-grid-tile [colspan]="1" rowspan="1" [style.background]="'lightblue'">show your pride</mat-grid-tile>
      <mat-grid-tile [colspan]="1" rowspan="1" [style.background]="'lightblue'"> mu events</mat-grid-tile>
    </mat-grid-list>
</section>
<br>
<br>