body {
    overflow: hidden;
}

img {
    display: none;
}

.row {
    min-height: 100vh;
    background-image: url("../../../../assets/mon.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.mat-card {
    margin-top: 10rem;
    width: 60%;
    border-radius: 1px 10px 1px ;
}

.ancho {
    width: 100%;
}

.btn {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

 .mat-raised-button {
    background-color: rgb(41, 109, 255);
} 


@media (max-width: 780px) {

    .row {
        min-height: 100vh;
        background-image: url("../../../../assets/mon.jpg");
        background-size: cover;
        background-attachment: fixed;
    }


    .mat-card{
        display: flex;
        background: none;
        height: 20%;
        margin: 0;
        width: 100%;
        display: block;
        padding: 0;
    }
    img {
        display: none;
    }
 }

