/* a  {
    margin-right: 4rem;
} */
header {
    width: 100%;
}


.navbar:hover {
    color: rgb(75, 132, 255);
}
 .example-spacer {
    flex: 1 1 auto;
  } 

  #logo {
    cursor: pointer;
    margin: 0;
  }

  @media (max-width: 700px) { 
    

    button {
        font-size: 10px;
    }
    .navbar {
        margin: 0;
        padding: 0;
    }
    #logo {
        width: 50px;
        margin-right: 0.2rem;
    }
    .mat-toolbar-single-row {
        padding: 0;
    }
 }