.logo {
    margin-left: 2rem;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.offcanvas {
    background-clip: unset;
    transition: none;
}

.offcanvas-end {
    left: 0;
    right: none;
    width: 300px;
    transform: none;
}
.navbar-light .navbar-nav .nav-link.active:hover {
    color:rgb(53, 117, 255)
}

.material-icons {
    line-height: 1.27;
}