<header *ngIf="sesion$ | async as sesion "> 
<nav class="navbar navbar-light bg-light fixed-top" *ngIf="sesion.sesionActiva">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"> 
        
      </span>
      <span class="logo">  <img src="./assets/monsters-university.png" alt="" width="90" routerLink="inicio" id="logo"> </span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            
            <a class="nav-link active" aria-current="page" routerLink="inicio">
              <mat-icon>home</mat-icon> Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="cursos">
              <mat-icon>computer</mat-icon> Cursos</a>
            
          </li>
          <li class="nav-item" *ngIf="sesion.usuarioActivo?.admin">
            <a class="nav-link active" aria-current="page" routerLink="cursos/agregar-curso">
              <mat-icon>computer</mat-icon> Agregar Curso</a>
            
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="cursos/misincripciones">
              <mat-icon>computer</mat-icon>Mis cursos</a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="estudiantes">
              <mat-icon>face</mat-icon> Estudiantes</a>
            
          </li>
          <li class="nav-item" *ngIf="sesion.usuarioActivo?.admin">
            <a class="nav-link active" aria-current="page" routerLink="estudiantes/editar">
              <mat-icon>build</mat-icon> Editar estudiante</a>
            
          </li>

          <li class="nav-item" *ngIf="sesion.usuarioActivo?.admin">
            <a class="nav-link active" aria-current="page" routerLink="estudiantes/crear">
              <mat-icon>add_circle_outline</mat-icon> Crear estudiante</a>
            
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="estudiantes/hermandades">
              <mat-icon>whatshot</mat-icon> Hermandades</a>
            
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="login">
              <mat-icon>arrow_forward</mat-icon> Iniciar sesión</a>
            
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="formulario">
              <mat-icon>school</mat-icon> Contacto</a>
            
          </li>

        </ul>
        
      </div>
    </div>
  </div>
</nav>
</header>