<!-- Header -->

<section class="container">
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Examen Final</h5>
        <p class="card-text">Fecha: <b>08-12 </b> </p>
        <a href="#" class="btn btn-success">Inscribirme</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Construcción de puertas</h5>
        <p class="card-text">Inicio del curso: <b>3-10</b> </p>
        <a href="#" class="btn btn-success">Inscribirme</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Gimnasio</h5>
        <p class="card-text">Disponible <b>todo el año.</b>Verificar turnos. </p>
        <a href="#" class="btn btn-success">Inscribirme</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Sustolimpiadas</h5>
        <p class="card-text">Inicio:  . Final: 25-01</p>
        <a href="#" class="btn btn-success">Inscribirme</a>
      </div>
    </div>
  </div>
</div>


</section>

  
  
  
  