<section class="container" *ngIf="sesion$ | async as sesion">

    <section class="example-container mat-elevation-z8" tabindex="0">
        <table mat-table [dataSource]="dataSource">
      
          <!-- Position Column -->
          <ng-container matColumnDef="img">
            <th mat-header-cell *matHeaderCellDef> Foto </th>
            <td mat-cell *matCellDef="let element"><img src="{{element.img}}" alt="estudiante" class="img"></td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>
      
          <!-- Weight Column -->
          <ng-container matColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef> Apellido </th>
            <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
          </ng-container>
      
          <!-- Symbol Column -->
          <ng-container matColumnDef="acciones"> 
            <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell  *matCellDef="let element; let estudiante; let i = index"> 
                
                

                <mat-icon color="primary"  matTooltip="Editar estudiante"  *ngIf="sesion.usuarioActivo?.admin" (click)="editar( estudiante )"> edit </mat-icon> 
                  
                   
                <mat-icon color="primary" matTooltip="Eliminar estudiante" *ngIf="sesion.usuarioActivo?.admin" (click)="removeData(i)"> delete </mat-icon> 
                        
                </td>

          </ng-container>
          


          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </section>

      <br>
      <br>
      <br>
      <br>
</section>
