<header> 
<!-- 
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Inscripciones
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Examen Final</a></li>
              <li><a class="dropdown-item" href="#">Construcción de puertas</a></li>
              <li><a class="dropdown-item" href="#">Sustolimpiadas</a></li>
              <li><a class="dropdown-item" href="#">Gimnasio</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Store</a>
          </li> -->
          <mat-toolbar>
            <span><img src="./assets/monsters-university.png" alt="" width="80"></span>
            <span class="example-spacer"></span>
            <button mat-button class="navbar">Inicio</button>
            <button mat-button class="navbar">Inscripciones</button>
            <button mat-button class="navbar">Store</button>
            <span class="example-spacer"></span>

            <!-- <button mat-button routerLink="/dashboard">LogOut</button> -->
            <button mat-icon-button class="example-icon" routerLink="/" aria-label="Example icon-button with menu icon">
              <mat-icon>logout</mat-icon>
            </button>
          </mat-toolbar>

         
  
    </header>
