
.container {
  margin-top: 5rem;
}

.mat-card-title{
    color: rgb(0, 120, 212);
}

.mat-card-subtitle {
    color: rgb(104, 143, 250);
}

.mat-raised-button.mat-primary {
    background-color: rgb(0, 105, 186);
}
#share {
    margin-left: 0.5rem;
}
/* .mat-card-image {
    width: 400px;
} */

@media (max-width: 700px) { 
    
    .container {
        margin-top: 5rem;
    }
 }
