<section class="container">
    <h3>Editar curso</h3>

    <mat-card >
        <form action="" [formGroup]="form" (ngSubmit)="editarCurso()">
            <mat-grid-list cols="4" rowHeight="80px">
            
                
                <mat-grid-tile [colspan]="2" [rowspan]="2">
                    <mat-form-field appearance="fill" class="ancho">
                        <mat-label>Imagen</mat-label>
                        <input matInput formControlName="img">
                      </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="2" class="ancho">
                    <mat-form-field appearance="fill" class="ancho">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombre">
                      </mat-form-field>

                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="2" class="ancho">
                    <mat-form-field appearance="fill" class="ancho">
                        <mat-label>Contenido</mat-label>
                        <input matInput formControlName="contenido">
                      </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="2" class="ancho">
                    <mat-form-field appearance="fill" class="ancho">
                        <mat-label>Fecha</mat-label>
                        <input matInput formControlName="fecha">
                      </mat-form-field>
                </mat-grid-tile>
                
            </mat-grid-list>
                    <div class="boton">
                    <button mat-raised-button color="primary" type="submit">Editar</button>
                </div>

        </form>
    </mat-card>
</section>

