<!-- <h1 mat-dialog-title>Crear persona</h1>
<div mat-dialog-content> -->
  <!-- <mat-form-field appearance="">

  </mat-form-field>
  <form [formGroup]="formPersona">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label" formControlName="nombre">Nombre</label>
      <input type="nombre" class="form-control" placeholder="Mike">
    </div>
    <label for="exampleInputEmail1" class="form-label" formControlName="edad">Edad</label>
      <input type="nombre" class="form-control" placeholder="Mike">
  </form> -->

<!-- <div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button  (click)="guardar()">Guardar</button>
</div> -->