.container {
    color: rgb(3, 65, 191);
    letter-spacing: 0.03em ;
    margin-top: 5rem;
} 

input {
    background-color: rgb(192, 248, 255);
}

#nombreerror {
    color: red;
}

.form-control.is-invalid {
    background-color: rgb(255, 186, 186);
}