/* You can add global styles to this file, and also import other style files */


body {
    background-color: #ffff;
    color: rgb(0, 158, 237);
    font-family: 'Lato', sans-serif;
}

.nav-item {
    margin-left: 4rem;
    font-size: medium;
}

.container {
    margin-top: 3rem;
}

.col-6 {
    margin-top: 1rem;
    /* border: 1px solid #fff; */
}

.col-4  {
    height: 50px;
    margin-top: 1rem;
    /* border: 1px solid #fff; */
}

.col-2 {
    /* border: 1px solid #fff; */
    margin-top: 1rem;
}

.btn-success {
    background-color: rgba(32, 187, 32, 0.873);
}